body {
    background-size: cover;
}

.heading {
    font-size: 25px;
    margin: 0px;
}

#start,
#number_of_objects {
    font-size: 20px;
}

.copy_right_footer {
    width: 100%;
    font-size: 20px;
    color: white;
    background-color: grey;
    text-align: center;
    bottom: 0;
    position: fixed;
}
canvas{
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 130px;
    box-shadow: 5px 5px 5px grey;
}